beautifulsoup4==4.10.0
dagit==0.14.6
dagster==0.14.6
dagster-docker==0.14.6
dagster-postgres==0.14.6
dnspython==2.1.0
lxml==4.6.4
pymongo==4.0.1
psycopg2-binary==2.9.2
pytest==6.2.5
python-dotenv==0.19.2
requests-cache==0.9.1
tweepy==4.4.0